.jumbotron {
    /* padding-bottom: 37.5%; = ( 600 / 1600 ) x 100 */
    background-image: url( './images/Netflix-logo.jpg' );
    background-size: cover;
    height: 600px;
}

/* .jumbotron > img {
    width: 100vw
} */

.images {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 200px 200px 200px;
}