.jumbotron {
    background-image: url( './images/Netflix-logo-2.jpg' );
    opacity: 0.75;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.jumbotron > h1, .jumbotron > p {
    background-color: black;
}

.btn {
    color: red;
    background-color: black;
}

/* .jumbotron > img {
    width: 100vw
} */

/* .images {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 200px 200px 200px;
} */