.jumbotron {
    background-image: url( './images/Netflix-logo-2.jpg' );
    opacity: 0.75;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.jumbotron > h1, .jumbotron > p {
    background-color: black;
}

.btn {
    color: red;
    background-color: black;
}
